# dependencies
node_modules
.pnp
.pnp.js

# next.js build output
.next
out
next-env.d.ts
*.tsbuildinfo

# env
.env*.local
.env

# misc
.DS_Store
*.pem

# runtime data stores (created by the API on first write)
data/orders.json
data/custom-products.json
# admin-uploaded product images
public/products/upload-*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode
.idea
